include README.rst
include LICENSE
graft include
graft src
graft ctest
include Doxyfile
graft deps
graft docs/source
include docs/Makefile
include docs/make.bat
graft test
prune test/__pycache__
global-exclude *.pyc *.pyo *.o *.so *.pyd *.swp
