include README.rst
include LICENSE
graft include
graft src
include Doxyfile
graft deps
graft docs/source
include docs/Makefile
include docs/make.bat
graft test
recursive-exclude test *.pyc *.pyo
prune test/__pycache__
